*,
::before,
::after {
    margin: 0%;
    padding: 0%;
    font-family: cursive;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    text-align: justify;
    height: 80px;

}

body {
    background-color: gray;

}

.container-fluid {
    display: flex;
    justify-content: center;

}

.collapse{
    display: flex;
    justify-content: right;
    text-align: left;
}

.nav-item{
    padding-left: 60px;
    text-align: ;
}

.image img{
    width: 20px;
    height: 20px;
    border-radius: 70rem;
    
}
.image{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;

}

.heading {
    justify-content: center;
    margin-top: 50px;
    padding-left: 100px;
}

/* my footer styling */

footer {
    background-color: gray;
}

/* .social-icons {
    display: flex;
    justify-content: center;
} */

/* .social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
} */

/* .footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: grey;
} */

/* .social-icons a i {
    font-size: 2em;
    color: black;
    opacity: .9;
} */

/* Hover effects on social media icons */
/* .social-icons a:hover {
    background-color: gray;
    transition: 0.5s;
}

.social-icons a:hover i {
    transition: 0.5s;
    color: white;
} */

/* .footer-bottom p {
    color: gray;
    justify-content: center;
} */


/* About me page styling */

.carousel {
    margin-top: 50px;
}

/* Contact page styling */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* flip card styling */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: gray;
    color: white;
    transform: rotateY(180deg);
  }

  

  .container {
    margin-top: 20px;
  }

  h3 {
    color:black;
    text-decoration: black;
  }

  /* about me styling */
/* .clearfix {
    margin-top: 3%;
    
} */
#image{
    width: 500px;
    padding: 50px 100px 250px 50px;
    justify-content: center;
    position: relative;

}

p {
    padding: 50px;
    /* margin-top: 50px; */
    gap: .1px;
    justify-content: center;
    position: relative;
}

.card-about {
    margin-top: 50px;
    justify-content: center;
    position: relative;
}

.img-fluid {
    width: 500px;
    padding: 50px;
    justify-content: center;
    position: relative;
}

.col {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.col-test {
    display: flex;
    justify-content: space-between;
}
